<ion-menu side="start" contentId="main-content" >
  <ion-header>
<ion-toolbar class="menu-toolbar">
  <div class="menu-header">
    <img src="assets/logo2.png" alt="Energia Radio" />
  </div>
</ion-toolbar>


  </ion-header>

  <ion-content class="menu-content">

  <!-- Imagen debajo del logo -->

  <ion-list lines="none">
    <ion-item button href="https://instagram.com/energiafmec" target="_blank">
      <ion-icon name="logo-instagram" slot="start"></ion-icon>
      <ion-label class="menu-label">Instagram</ion-label>
    </ion-item>

    <ion-item button href="https://facebook.com/energiafmec" target="_blank">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      <ion-label class="menu-label">Facebook</ion-label>
    </ion-item>

    <ion-item button href="https://energiafm.net" target="_blank">
      <ion-icon name="globe-outline" slot="start"></ion-icon>
      <ion-label class="menu-label">Sitio Web</ion-label>
    </ion-item>
  </ion-list>

  <div class="menu-image"></div>


</ion-content>

</ion-menu>

<ion-content fullscreen id="main-content">

 <ion-header>
    <ion-toolbar class="main-toolbar">
      <ion-buttons slot="start">
        <ion-menu-button class="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>Radio Online</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- Background -->
  <div class="background"></div>

  <!-- Logo -->
<div class="logo" [class.playing]="radio.isPlaying">
  <img src="assets/logo.png" />
</div>


  <!-- Play / Pause -->
  <div class="center-controls">

    <div *ngIf="radio.isLoading" class="loader"></div>

    <ion-icon
      *ngIf="!radio.isLoading"
      [name]="radio.isPlaying ? 'pause' : 'play'"
      class="play-btn"
      (click)="toggle()">
    </ion-icon>

  </div>

<!-- Volume Control -->
<div class="volume-container">
  <ion-icon
    [name]="volume === 0 ? 'volume-mute' : 'volume-low'"
    class="volume-icon"
    (click)="setVolume(0)">
  </ion-icon>

  <ion-range
    min="0"
    max="1"
    step="0.01"
    [value]="volume"
    (ionChange)="onVolumeChange($event)"
    class="volume-range">
  </ion-range>

  <ion-icon
    name="volume-high"
    class="volume-icon"
    (click)="setVolume(1)">
  </ion-icon>
</div>



  <!-- Now Playing -->
  <div class="now-playing" *ngIf="currentSong">

    <img
      class="album"
      [src]="currentCover || 'assets/default-album.jpg'" 
      (error)="onImageError($event)"/>

    <div class="info">
      <span class="on-air">ON AIR</span>
      <div class="song-title">{{ currentSong }}</div>
    </div>

  </div>

  <!-- Social -->
  <!-- <div class="social">
    <img src="assets/ig.png">
    <img src="assets/www.png">
    <img src="assets/fb.png">
  </div> -->

</ion-content>
